{% extends "layout.html" %}
{% load static %}

{% block content %}
    <!-- ==== PROFILE====== -->
    <section class="container">
        <div class="card mb-3 mt-0">
        {% if user.userprofile.background_image %}
            <img src="{{ user.userprofile.background_image.url}}" class="card-img-top bg-img" alt="">
        {% else %}
        <img src="{% static 'img/eko.png' %}" class="card-img search-bg" alt="..." />
        {% endif %}
            <div class="card-body">
            {% if user.userprofile.profile_image %}
            <img src="{{ user.userprofile.profile_image.url}}" class="rounded-circle img-circle mx-auto d-block shadow" alt="...">
            {% else %}
            {% endif %}
                <h5 class="card-title mt-2 text-center text-info"> {{ user.first_name.title }}  {{user.last_name.title}} </h5>
                <div class="">
                    <p class="card-text teal-text mx-4 text-center"> <strong> {{ user.phone }} </strong> </p>
                    <p class="card-text teal-text mx-4 text-center"> <strong> {{ user.email }} </strong> </p>
                    <p class="card-text teal-text mx-4 text-center"> <strong> {{ user.userprofile.location.title }} </strong> </p>
                </div>
            </div>
    </section>
    <!-- ABOUT SECTION -->
    <section class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title text-center text-info">About Me</h5>
                <div class="d-flex justify-content-center">
                    <p class="card-text teal-text">{{ user.userprofile.about_me }}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- SKILLS SECTION -->
    <section class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title text-center text-info">Skills</h5>
                <div class="d-flex justify-content-center">
                    {% for skill in user.userprofile.skills_as_list %}
                        <span class="badge badge-secondary mx-1">{{ skill.title }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- EXPERIENCE -->
    <section class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title text-center text-info">Experience</h5>
                {% for experience in experiences %}
                <p class="card-text teal-text"><strong> Company Name: </strong> {{ experience.company_name }} </p>
                <p class="card-text teal-text"><strong> Job Title: </strong> {{ experience.job_title }} </p>
                <p class="card-text teal-text"><strong> Job Description: </strong> {{ experience.job_description }} </p>
                <p class="card-text teal-text"><strong> From: </strong> {{ experience.year_from }} <strong> To: </strong> {{ experience.year_to }}
                </p>
                <hr />
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- EDUCATION -->
    <section class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title text-center text-info">Education</h5>
                {% for education in educations %}
                <p class="card-text teal-text"><strong> School: </strong> {{education.school }} </p>
                <p class="card-text teal-text"><strong> Field of Study: </strong> {{ education.field_of_study }} </p>
                <p class="card-text teal-text"><strong> Qualification: </strong> {{ education.qualification }} </p>
                <p class="card-text teal-text"><strong> Year </strong></strong> {{education.year }} </p>
                <hr />
                {% endfor %}
            </div>
        </div>
    </section>       
        <div class="container text-center">
            {% if user.is_authenticated and user is not user %}
            <a href="{% url 'dashboard' user.id %}" type="submit" class="btn btn-sm btn-black ml-auto mr-auto mb-3">
                BACK TO DASHBOARD</a>
            {% else %}
            {% endif %}
        </div>
{% endblock content %}