{% extends "layout.html" %}
<!-- Home Page Content -->
{% block title %} | About Us {% endblock %}
<!-- ----- -->
{% block content %}
<br />
<br />
<br />
<br />
<br />
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h5 class="text-teal text-center mt-1 teal-text">About Us</h5>
            <p class="grey-text">
              We are a startup aiming to go global. <br />
              <strong>MohJobs</strong> is an online jobs platform for employers
              and applicants. MohJobs gives employers the option to: <br />
              (a) Search for skills that matches their openings and contact the
              applicant(s)
              <br />
              (b) Provide application link or email for applicant.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock content %}
