{% extends "layout.html" %}
<!-- Loading Static Files -->
{% load static %}
<!-- ------ -->
{% block title %} | Contact Us {% endblock %}
<!-- Main Content -->
{% block content %}
<!-- EXPERIENCE FORM -->
<section class="container">
    <div class="row  mt-5 mb-5">
        <div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h5 class="card-title text-center teal-text">Contact Us</h3>
                        <hr />
                        <!-- Alert -->
                        {% include "partials/_alert.html" %}
                        <form method="POST" class="mt-4" autocomplete="">
                            {% csrf_token %}
                            <!-- ------ -->
                            {% if user.is_authenticated %}
                            <input type="hidden" name="user_id" value="{{ user.id }}" />
                            {% else %}
                            <input type="hidden" name="user_id" value="0" />
                            {% endif %}
                            <div class="form-row" id="addForm">
                                <div class="form-group col-sm-12">
                                    <input type="text" class="form-control form-control-sm" placeholder="Name"
                                        name="name" required />
                                </div>
                                <div class="form-group col-sm-12">
                                    <input type="email" class="form-control form-control-sm" placeholder="Email"
                                        name="email" required />
                                </div>
                                <div class="form-group col-sm-12">
                                    <input type="text" class="form-control form-control-sm" placeholder="Subject"
                                        name="subject" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" placeholder="Message"
                                    required></textarea>
                            </div>
                            <button type="submit" class="btn btn-black btn-block btn-sm mt-3">
                                SEND
                            </button>
                        </form>
                        <br />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================== -->
{% endblock %}